{% extends 'layout.html' %}

{% block title %}Список вопросов{% endblock %}

{% block content %}
<h1>Список вопросов</h1>
<div class="actions">
{% if user.is_authenticated %}
<a href="{% url 'add_question' %}{% if tags_selected %}?tags={{ tags_selected|join:" ," }}{% endif %}"">
➕ Добавить вопрос
</a>
{% else %}
<p><a href="{% url 'login' %}">Войдите</a>, чтобы добавить вопрос.</p>
{% endif %}
</div>

<!-- Форма фильтрации -->
<form method="get">
    <h4>Фильтр по тегам:</h4>
    {% for tag in tags %}
    <label>
        <input type="checkbox" name="tags" value="{{ tag.id }}"
               {% if tag.id in tags_selected %}checked{% endif %}
               onchange="this.form.submit()">
        {{ tag.name }}
    </label>
    {% endfor %}
    <br>
    {% if user.is_authenticated %}
    <input type="checkbox" name="my_questions" value="1"
           {% if show_only_mine %}checked{% endif %}
           onchange="this.form.submit()">
    <label>Показать только мои вопросы</label>
    {% endif %}
    <br>
    <a href="{% url 'question_list' %}">Сбросить</a>
</form>

<form method="get">
    <input type="hidden" name="no_tags" value="1">
    <button type="submit" {% if show_no_tags %}disabled{% endif %}>Показать вопросы без тегов</button>
</form>

<hr>

<ul class="questions">
    {% for question in questions %}
    <li class="questions__item">
        <a href="{% url 'question_detail' question.id %}">{{ question.text }}</a>
        <p>
            {% for tag in question.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% empty %}
            <span class="tag tag--empty">Нет тегов</span>
            {% endfor %}
        </p>
    </li>
    {% empty %}
    <li class="questions__item">Пока вопросов нет</li>
    {% endfor %}
</ul>
{% endblock %}
